*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #f8f8f8; /* in case bg img fails to load */
  background-image: linear-gradient(
      115deg,
      rgba(64, 64, 199, 0.8),
      rgba(201, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.header {
  text-align: center;
  color: white;
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1rem);
}
.h1 {
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1rem)
}
.split {
  display: flex;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: whitesmoke;
}

.text {
  font-size: clamp(0.6rem, -0.875rem + 6.333vw, 1rem)
}

.editor-container,
.preview-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 4px;
  background: whitesmoke;
  padding: 1rem;
  min-width: 100%;
  margin: 1rem;
}

footer {
  width: 100%;
  margin: 1rem;
  text-align: center;
  color:#f8f8f8;
}

footer > a {
  cursor: pointer;
  text-decoration: none;
  color:#f8f8f8;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column; /* Stack elements vertically */
  }

  .split {
    display: block; 
    width: 100vw;
  }

  textarea {
    height: 150px;
  }

  .editor-container,
  .preview-container {
    width: 100%;
  }
  .header h1 {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

